{% extends 'base.html.twig' %}

{% block title %}Winkelwagen{% endblock %}

{% block body %}
    <h1>Product toegevoegd aan uw winkelwagen</h1>


    <a href="{{ path('product_index') }}">Terug naar vorige pagina</a>


{% endblock %}