{% extends 'base.html.twig' %}

{% block title %}Our Contact Form{% endblock title %}

{% block body %}

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{#    <a href="{{ path('product_index') }}">Terug naar vorige pagina</a>#}
{% endblock %}